## Variables and Data



We previously learned about some of the different data types that can be used in python. Now we will go onto how to assign data to variables.

In python this is generally a very easy process to achieve.

In [4]:
Var = 1

In [5]:
Var

1

In this case we have assigned the integer 1 to the variable called Var. We can check it's type or print it exactly like we were doing earlier.

In [7]:
print(Var)

1

In [9]:
type(Var)

int

We can assign other things to variables.

In [11]:
Var2 = "Hello World"

Try running print and type on this one too.

So with variables created we can now start manipulating these variables in all kinds of ways.

In [12]:
Var3 = 2

In [14]:
Var + Var3

3

We can do mathematical operators with numeric variables. And we can combine string variables in the same way as we did before.

In [20]:
Var4 = " Beep Boop"

In [21]:
Var2 + Var4

'Hello World Beep Boop'

We still can't combine strings and numerics like before.

In [23]:
Var2 + Var3

NameError: name 'Var2' is not defined

But what we can do is make a list out of them.

In [26]:
List1 = [Var2 , Var3]

In [28]:
List1

['Hello World', 2]

Try creating variables of all kinds, naming anything you like, combining them etc.

When creating a list what we are essentially doing is creating a data frame. Something that we can use to handle data, apply functions to or create graphs from. Data frames in the form of lists is not a particularly efficient or effective way to contain large or complicated data sets but for simple purposes is just fine. Create a list which contains the numbers 1 to 10 in order

In [1]:
List2 = []

In [2]:
List2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

When dealing with lists as data frames we can specify parts of the list by referencing it's location. In python this is done by calling it's location using square brackets []. You put values into the list in an order and that order is what you refer to.

In [3]:
List2[1]

2

Well that is odd. Why in our sequence of 1 to 10 is number 1 2? This is because Python starts it's indexing at 0.

In [4]:
List2[0]

1

There we go, it's important to remember about python indexing as it is a tiny error that can cause you to get completely the wrong answer. Why not try performing additions on different values within the list by indexing. Start by adding 6 and 10 together from inside the list.

We can combine lists into more lists if we desire but it will require us to use some functions like we have done previously, list has a bunch of inbuilt functions that we can call from it. In Python we can reference sub functions within functions by using a "." in this case we will use .append to add a single value to the end of the list.

In [33]:
List2.append(11)

In [34]:
List2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

We can use other in built list functions

In [35]:
List2.insert(11,12)

In [36]:
List2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

insert adds a new value at a specified point in this case we added the value 12 at index 11.

In [37]:
List2.remove(12)

In [38]:
List2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

remove searches through the list for what you specify and removes it from the list.

In [39]:
List2.pop(10)

11

Pop removes and tells you the element at the index value that you put into it.

There are other list functions and you can look them up if you need them but this is a quick introduction to the functions you can apply to lists. This same type of functions are available for lots of data types. Try out adding things removing etc from lists. Create new ones or use the same one. Google other list functions and try them out too.